{
	"presets": [
		"es2015",
		"stage-0"
	],
	"plugins": [
		"transform-decorators-legacy",
		"transform-dead-code-elimination",
		"transform-node-env-inline",
		"lodash"
	],
	"env": {
		"test": {
			"sourceMaps": "inline"
		}
	}
}
