## General
node_modules
/deprecated

# Browser extensions and certs
*.crx
*.oex
*.pem
*.xpi
*.nex
*.safariextz
*.zip

# Copied files
dist/
/Chrome/*.js
/Chrome/*.css
/Chrome/templates.html
!/Chrome/background.js
/Chrome/core/*
/Chrome/modules/*
/Chrome/vendor/*
/OperaBlink/*.js
/OperaBlink/*.css
/OperaBlink/templates.html
!/OperaBlink/background.js
/OperaBlink/core/*
/OperaBlink/modules/*
/OperaBlink/vendor/*
/RES.safariextension/*.js
/RES.safariextension/*.css
/RES.safariextension/templates.html
/RES.safariextension/core/*
/RES.safariextension/modules/*
/RES.safariextension/vendor/*
/Opera/*.js
/Opera/*.css
/Opera/templates.html
!/Opera/opera-*.js
/Opera/core/*
/Opera/modules/*
/Opera/vendor/*
!/Opera/includes/*
/XPI/data/*
!/XPI/data/images
!/XPI/lib/main.js
!/lib/*
!browsersupport-*.js
/OperaBlink/browsersupport-chrome.js

/tests/selenium/opera-profile/
/tests/selenium/opera-profile-patch/
/tests/selenium/opera-profile-clean/

## OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

## Visual Studio
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# User-specific files
*.suo
*.user
*.sln.docstates
personal/

# Visual C++ cache files
/IE/ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# IntelliJ
.idea
*.iml
