.DS_Store
/build/output

/Chrome/reddit_enhancement_suite.user.js
/Chrome/jquery-1.6.4.min.js
/Chrome/manifest.json

/Opera/includes/reddit_enhancement_suite.user.js
/Opera/config.xml

/RES.safariextension/reddit_enhancement_suite.user.js
/RES.safariextension/jquery-1.6.4.min.js
/RES.safariextension/Info.plist

/XPI/data/reddit_enhancement_suite.user.js
/XPI/data/jquery-1.6.4.min.js
/XPI/package.json