sudo: false
language: node_js
node_js:
  - 6
cache:
  directories:
    - $HOME/.npm
script:
  - npm run eslint
  - npm run sass-lint
  - npm run coverage
  - npm run build -- all
  - npm run jpm -- xpi
  - node dist/node/loader.entry.js
after_success:
  - npm run report-coverage
branches:
  only:
    - master
    - /^v[0-9]/
deploy:
  - provider: releases
    api_key:
      secure: F0CNYZBoZbLiZDm+KkIpX/FjWhwUKMQs4O+bg6EUT32GOb17ed1HBS1Dw9DCTClyydEkhtCMZTFHQUbfNhlU7xkZxy8J/Ac9UykngVmjJBz3+ZKmbGsokjwCm8r08VCMzB0AJrvIodRwegzg9J5muXvMGNBzKxi7Q7XiNsxLNDc=
    prerelease: true
    file:
      - dist/zip/chrome.zip
      - dist/zip/firefox.zip
      - dist/zip/RES.safariextension.zip
    skip_cleanup: true
    on:
      tags: true
      node: 6
  - provider: script
    script: node build/deploy.js
    skip_cleanup: true
    on:
      tags: true
      node: 6
