sudo: false
language: node_js
node_js:
  - 5
  - 6
script:
  - npm run eslint
  - npm run sass-lint
  - npm run coverage
  - npm run build -- node
  - node dist/node/loader.entry.js
after_success:
  - npm run report-coverage
