<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steve Sobel</string>
	<key>Builder Version</key>
	<string>10601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>Reddit Enhancement Suite</string>
	<key>CFBundleIdentifier</key>
	<string>com.honestbleeps.redditenhancementsuite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9000.1</string>
	<key>CFBundleVersion</key>
	<string>0.9000.1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background-safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>vendor/polyfill.min.js</string>
				<string>vendor/jquery-1.11.3.min.js</string>
				<string>vendor/guiders.js</string>
				<string>vendor/jquery.sortable-0.9.12.js</string>
				<string>vendor/jquery.edgescroll-0.1.js</string>
				<string>vendor/jquery-fieldselection.min.js</string>
				<string>vendor/favico.js</string>
				<string>vendor/jquery.tokeninput.js</string>
				<string>vendor/HTMLPasteurizer.js</string>
				<string>vendor/snudown.js</string>
				<string>vendor/hogan-3.0.2.js</string>
				<string>core/utils.js</string>
				<string>browsersupport.js</string>
				<string>browsersupport-safari.js</string>
				<string>core/options.js</string>
				<string>core/alert.js</string>
				<string>core/migrate.js</string>
				<string>core/template.js</string>
				<string>core/metadata.js</string>
				<string>vendor/konami.js</string>
				<string>modules/spoilerTags.js</string>
				<string>modules/submitIssue.js</string>
				<string>modules/betteReddit.js</string>
				<string>modules/userTagger.js</string>
				<string>modules/keyboardNav.js</string>
				<string>modules/commandLine.js</string>
				<string>modules/messageMenu.js</string>
				<string>modules/easterEgg.js</string>
				<string>modules/pageNavigator.js</string>
				<string>modules/userInfo.js</string>
				<string>modules/presets.js</string>
				<string>modules/onboarding.js</string>
				<string>modules/customToggles.js</string>
				<string>modules/floater.js</string>
				<string>modules/orangered.js</string>
				<string>modules/announcements.js</string>
				<string>modules/selectedEntry.js</string>
				<string>modules/settingsConsole.js</string>
				<string>modules/menu.js</string>
				<string>modules/about.js</string>
				<string>modules/hover.js</string>
				<string>modules/subredditTagger.js</string>
				<string>modules/singleClick.js</string>
				<string>modules/commentPreview.js</string>
				<string>modules/commentTools.js</string>
				<string>modules/sourceSnudown.js</string>
				<string>modules/usernameHider.js</string>
				<string>modules/showImages.js</string>
				<string>modules/showKarma.js</string>
				<string>modules/hideChildComments.js</string>
				<string>modules/showParent.js</string>
				<string>modules/neverEndingReddit.js</string>
				<string>modules/saveComments.js</string>
				<string>modules/userHighlight.js</string>
				<string>modules/nightMode.js</string>
				<string>modules/styleTweaks.js</string>
				<string>modules/stylesheet.js</string>
				<string>modules/userbarHider.js</string>
				<string>modules/accountSwitcher.js</string>
				<string>modules/filteReddit.js</string>
				<string>modules/newCommentCount.js</string>
				<string>modules/spamButton.js</string>
				<string>modules/commentNavigator.js</string>
				<string>modules/subredditManager.js</string>
				<string>modules/RESTips.js</string>
				<string>modules/settingsNavigation.js</string>
				<string>modules/dashboard.js</string>
				<string>modules/notifications.js</string>
				<string>modules/subredditInfo.js</string>
				<string>modules/commentHidePersistor.js</string>
				<string>modules/troubleshooter.js</string>
				<string>modules/backupAndRestore.js</string>
				<string>modules/localDate.js</string>
				<string>modules/context.js</string>
				<string>modules/noParticipation.js</string>
				<string>modules/searchHelper.js</string>
				<string>modules/submitHelper.js</string>
				<string>modules/logoLink.js</string>
				<string>modules/voteEnhancements.js</string>
				<string>modules/upload.js</string>
				<string>modules/tableTools.js</string>
				<string>modules/modhelper.js</string>
				<string>modules/quickMessage.js</string>
				<string>modules/hosts/imgur.js</string>
				<string>modules/hosts/wikipedia.js</string>
				<string>modules/hosts/strawpoll.js</string>
				<string>modules/hosts/twimg.js</string>
				<string>modules/hosts/xkcd.js</string>
				<string>modules/hosts/dailymotion.js</string>
				<string>modules/hosts/jsfiddle.js</string>
				<string>modules/hosts/gyazo.js</string>
				<string>modules/hosts/pornbot.js</string>
				<string>modules/hosts/coub.js</string>
				<string>modules/hosts/uploadly.js</string>
				<string>modules/hosts/eroshare.js</string>
				<string>modules/hosts/iloopit.js</string>
				<string>modules/hosts/livecap.js</string>
				<string>modules/hosts/graphiq.js</string>
				<string>modules/hosts/spotify.js</string>
				<string>modules/hosts/pixpit.js</string>
				<string>modules/hosts/twitter.js</string>
				<string>modules/hosts/futurism.js</string>
				<string>modules/hosts/gfycat.js</string>
				<string>modules/hosts/gifyoutube.js</string>
				<string>modules/hosts/vidble.js</string>
				<string>modules/hosts/fitbamob.js</string>
				<string>modules/hosts/giflike.js</string>
				<string>modules/hosts/ctrlv.js</string>
				<string>modules/hosts/snag.js</string>
				<string>modules/hosts/picshd.js</string>
				<string>modules/hosts/minus.js</string>
				<string>modules/hosts/fiveHundredPx.js</string>
				<string>modules/hosts/flickr.js</string>
				<string>modules/hosts/steampowered.js</string>
				<string>modules/hosts/deviantart.js</string>
				<string>modules/hosts/tumblr.js</string>
				<string>modules/hosts/memecrunch.js</string>
				<string>modules/hosts/imgflip.js</string>
				<string>modules/hosts/livememe.js</string>
				<string>modules/hosts/makeameme.js</string>
				<string>modules/hosts/memegen.js</string>
				<string>modules/hosts/redditbooru.js</string>
				<string>modules/hosts/youtube.js</string>
				<string>modules/hosts/vimeo.js</string>
				<string>modules/hosts/soundcloud.js</string>
				<string>modules/hosts/clyp.js</string>
				<string>modules/hosts/memedad.js</string>
				<string>modules/hosts/ridewithgps.js</string>
				<string>modules/hosts/photobucket.js</string>
				<string>modules/hosts/giphy.js</string>
				<string>modules/hosts/streamable.js</string>
				<string>modules/hosts/qwipit.js</string>
				<string>modules/hosts/raddit.js</string>
				<string>modules/hosts/pastebin.js</string>
				<string>modules/hosts/github.js</string>
				<string>modules/hosts/onedrive.js</string>
				<string>modules/hosts/oddshot.js</string>
				<string>modules/hosts/miiverse.js</string>
				<string>modules/hosts/swirl.js</string>
				<string>core/init.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Reddit Enhancement Suite is a collection of tools to enhance your Reddit browsing experience</string>
	<key>DeveloperIdentifier</key>
	<string>63DT2C85Z6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>reddit.com</string>
				<string>*.reddit.com</string>
				<string>api.twitter.com</string>
				<string>api.imgur.com</string>
				<string>min.us</string>
				<string>*.flickr.com</string>
				<string>img.photobucket.com</string>
				<string>gdata.youtube.com</string>
				<string>redditenhancementsuite.com</string>
				<string>backend.deviantart.com</string>
				<string>api.tumblr.com</string>
				<string>noembed.com</string>
				<string>miiverse.nintendo.net</string>
				<string>api.gyazo.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://redditenhancementsuite.com/update-safari.plist</string>
	<key>Website</key>
	<string>http://redditenhancementsuite.com/</string>
</dict>
</plist>
