<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="4.1.5" id="extensions:res-extension">
	<name>Reddit Enhancement Suite</name>
	<description>RES provides several addons to enhance your browsing experience - each of which is configurable. You can enable/disable any of the modules, and most of them have their own options that can also be personalized.</description>
  <update-description href="http://redditenhancementsuite.com/update-opera.php?v=4.1.5"/>
  <author href="http://www.honestbleeps.com/">Steve Sobel</author>
  <access origin="http://reddit.com" subdomains="true" />
  <access origin="https://ssl.reddit.com" />
  <access origin="http://redditenhancementsuite.com" />
  <access origin="http://reddit.honestbleeps.com" />
  <access origin="http://redditgifts.com" subdomains="true" />
  <access origin="http://api.twitter.com" />
  <access origin="http://api.imgur.com" />
  <access origin="http://min.us" />
  <access origin="http://flickr.com" subdomains="true" />
  <access origin="http://imgclean.com" subdomains="true" />
  <access origin="http://photobucket.com" subdomains="true" />
  <access origin="http://gdata.youtube.com" />
  <access origin="http://backend.deviantart.com" />
  <access origin="http://api.tumblr.com" />
  <icon src="logo.gif" />
</widget>
