<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steve Sobel</string>
	<key>Builder Version</key>
	<string>8537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>Reddit Enhancement Suite</string>
	<key>CFBundleIdentifier</key>
	<string>com.honestbleeps.redditenhancementsuite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3.1.2</string>
	<key>CFBundleVersion</key>
	<string>4.3.1.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background-safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery-1.10.2.min.js</string>
				<string>guiders-1.2.8.js</string>
				<string>jquery.dragsort-0.6.js</string>
				<string>jquery-fieldselection.min.js</string>
				<string>tinycon.js</string>
				<string>jquery.tokeninput.js</string>
				<string>snuownd.js</string>
				<string>hogan-2.0.0.js</string>
				<string>utils.js</string>
				<string>browsersupport.js</string>
				<string>console.js</string>
				<string>alert.js</string>
				<string>storage.js</string>
				<string>template.js</string>
				<string>konami.js</string>
				<string>mediacrush.js</string>
				<string>reddit_enhancement_suite.user.js</string>
				<string>modules/betteReddit.js</string>
				<string>modules/userTagger.js</string>
				<string>modules/keyboardNav.js</string>
				<string>modules/commandLine.js</string>
				<string>modules/about.js</string>
				<string>modules/hover.js</string>
				<string>modules/subredditTagger.js</string>
				<string>modules/uppersAndDowners.js</string>
				<string>modules/singleClick.js</string>
				<string>modules/commentPreview.js</string>
				<string>modules/commentTools.js</string>
				<string>modules/usernameHider.js</string>
				<string>modules/showImages.js</string>
				<string>modules/showKarma.js</string>
				<string>modules/hideChildComments.js</string>
				<string>modules/showParent.js</string>
				<string>modules/neverEndingReddit.js</string>
				<string>modules/saveComments.js</string>
				<string>modules/userHighlight.js</string>
				<string>modules/styleTweaks.js</string>
				<string>modules/accountSwitcher.js</string>
				<string>modules/filteReddit.js</string>
				<string>modules/newCommentCount.js</string>
				<string>modules/spamButton.js</string>
				<string>modules/commentNavigator.js</string>
				<string>modules/subredditManager.js</string>
				<string>modules/RESTips.js</string>
				<string>modules/settingsNavigation.js</string>
				<string>modules/dashboard.js</string>
				<string>modules/notifications.js</string>
				<string>modules/subredditInfo.js</string>
				<string>modules/commentHidePersistor.js</string>
				<string>modules/bitcointip.js</string>
				<string>modules/troubleshooter.js</string>
				<string>init.js</string>
				<string>modules/tests.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Reddit Enhancement Suite is a collection of tools to enhance your Reddit browsing experience</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>reddit.com</string>
				<string>*.reddit.com</string>
				<string>redditgifts.com</string>
				<string>reddit.honestbleeps.com</string>
				<string>api.twitter.com</string>
				<string>api.imgur.com</string>
				<string>min.us</string>
				<string>*.flickr.com</string>
				<string>imgclean.com</string>
				<string>img.photobucket.com</string>
				<string>gdata.youtube.com</string>
				<string>redditenhancementsuite.com</string>
				<string>backend.deviantart.com</string>
				<string>api.tumblr.com</string>
				<string>noembed.com</string>
				<string>mediacru.sh</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://redditenhancementsuite.com/update-safari.plist</string>
	<key>Website</key>
	<string>http://redditenhancementsuite.com/</string>
</dict>
</plist>
