<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steve Sobel</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>Reddit Enhancement Suite</string>
	<key>CFBundleIdentifier</key>
	<string>com.honestbleeps.redditenhancementsuite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1.7</string>
	<key>CFBundleVersion</key>
	<string>4.1.7</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background-safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery-1.6.4.min.js</string>
				<string>guiders-1.2.8.js</string>
				<string>jquery.dragsort-0.4.3.min.js</string>
				<string>jquery-fieldselection.min.js</string>
				<string>tinycon.min.js</string>
				<string>jquery.tokeninput.js</string>
				<string>snuownd.js</string>
				<string>reddit_enhancement_suite.user.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Reddit Enhancement Suite is a collection of tools to enhance your Reddit browsing experience</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>reddit.com</string>
				<string>*.reddit.com</string>
				<string>redditgifts.com</string>
				<string>reddit.honestbleeps.com</string>
				<string>api.twitter.com</string>
				<string>api.imgur.com</string>
				<string>min.us</string>
				<string>*.flickr.com</string>
				<string>imgclean.com</string>
				<string>img.photobucket.com</string>
				<string>gdata.youtube.com</string>
				<string>redditenhancementsuite.com</string>
				<string>backend.deviantart.com</string>
				<string>api.tumblr.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://redditenhancementsuite.com/update-safari.plist</string>
	<key>Website</key>
	<string>http://redditenhancementsuite.com/</string>
</dict>
</plist>
