<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steve Sobel</string>
	<key>Builder Version</key>
	<string>8537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>Reddit Enhancement Suite</string>
	<key>CFBundleIdentifier</key>
	<string>com.honestbleeps.redditenhancementsuite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3.2</string>
	<key>CFBundleVersion</key>
	<string>4.3.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background-safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				"vendors/base/jquery-1.10.2.min.js",
				"vendors/gfycat.js",
				"vendors/guiders-1.2.8.js",
				"vendors/hogan-2.0.0.js",
				"vendors/jquery-fieldselection.min.js",
				"vendors/jquery.dragsort-0.6.js",
				"vendors/jquery.tokeninput.js",
				"vendors/konami.js",
				"vendors/mediacrush.js",
				"vendors/snuownd.js",
				"vendors/tinycon.js",
				"core/browsersupport.js",
				"core/misc.js",
				"core/utils.js",
				"core/storage.js",
				"core/module.js",
				"core/template.js",
				"core/alert.js",
				"core/console.js",
				"core/init.js",
				"app/reddit_enhancement_suite.user.js",
				"modules/RESPro.js",
				"modules/RESTips.js",
				"modules/about.js",
				"modules/accountSwitcher.js",
				"modules/betteReddit.js",
				"modules/bitcointip.js",
				"modules/commandLine.js",
				"modules/commentHidePersistor.js",
				"modules/commentNavigator.js",
				"modules/commentPreview.js",
				"modules/commentTools.js",
				"modules/dashboard.js",
				"modules/filteReddit.js",
				"modules/hideChildComments.js",
				"modules/hover.js",
				"modules/keyboardNav.js",
				"modules/neverEndingReddit.js",
				"modules/newCommentCount.js",
				"modules/notifications.js",
				"modules/redditProfiles.js",
				"modules/saveComments.js",
				"modules/settingsNavigation.js",
				"modules/showImages.js",
				"modules/showKarma.js",
				"modules/showParent.js",
				"modules/singleClick.js",
				"modules/snoonet.js",
				"modules/sortCommentsTemporarily.js",
				"modules/spamButton.js",
				"modules/styleTweaks.js",
				"modules/subredditInfo.js",
				"modules/subredditManager.js",
				"modules/subredditTagger.js",
				"modules/troubleshooter.js",
				"modules/uppersAndDowners.js",
				"modules/userHighlight.js",
				"modules/userTagger.js",
				"modules/usernameHider.js"
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Reddit Enhancement Suite is a collection of tools to enhance your Reddit browsing experience</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>reddit.com</string>
				<string>*.reddit.com</string>
				<string>redditgifts.com</string>
				<string>reddit.honestbleeps.com</string>
				<string>api.twitter.com</string>
				<string>api.imgur.com</string>
				<string>min.us</string>
				<string>*.flickr.com</string>
				<string>imgclean.com</string>
				<string>img.photobucket.com</string>
				<string>gdata.youtube.com</string>
				<string>redditenhancementsuite.com</string>
				<string>backend.deviantart.com</string>
				<string>api.tumblr.com</string>
				<string>noembed.com</string>
				<string>mediacru.sh</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://redditenhancementsuite.com/update-safari.plist</string>
	<key>Website</key>
	<string>http://redditenhancementsuite.com/</string>
</dict>
</plist>
