<div id="keyCommandLineWidget">
    <form id="keyCommandForm">
        <input id="keyCommandInput" type="text">
        type a command, ? for help, esc to close

        <div id="keyCommandInputTip"></div>
        <div id="keyCommandInputError"></div>
    </form>
</div>
