<h3>
    Navigate by:
    <select id="commentNavBy">
        <option name=""></option>
        <option name="submitter">submitter</option>
        <option name="moderator">moderator</option>
        <option name="friend">friend</option>
        <option name="me">me</option>
        <option name="admin">admin</option>
        <option name="highlighted">highlighted</option>
        <option name="tagged">tagged</option>
        <option name="gilded">gilded</option>
        <option name="IAmA">IAmA</option>
        <option name="images">images</option>
        <option name="videos">videos</option>
        <option name="popular">popular</option>
        <option name="new">new</option>
    </select>
</h3>
<div id="commentNavCloseButton" class="RESCloseButton">&times;</div>
<div class="RESDialogContents">
    <div id="commentNavButtons">
        <button id="commentNavUp" type="button" disabled="disabled">&#x25B2;</button> <div id="commentNavPostCount"></div> <button id="commentNavDown" type="button" disabled="disabled">&#x25BC;</button>
    </div>
</div>
