<div id="res-concurrent-installs">
	<p>You have enabled multiple versions of Reddit Enhancement Suite:</p>
	<ul>
		{{#versions}}
			<li>{{.}}</li>
		{{/versions}}
	</ul>
	<p>You should enable only one. <a href="{{wiki}}">Find out how!</a>
</div>
