<div class="res-filterline">
	<div class="res-filterline-preamble"></div>
	<div class="res-filterline-filters"></div>
	<div class="res-filterline-dropdown">
		<span></span>
		<div class="res-filterline-dropdown-container">
			<div class="res-filterline-external"></div>
			<div class="res-filterline-other"></div>
			<div class="res-filterline-beta-warning">
				<h3>Warning (beta)</h3>
				<span>By using any of the below features, you risk breaking your current filters.</span>
			</div>
			<div class="res-filterline-export-customfilters">
				Save to customFilters
			</div>
			<div class="res-filterline-show-reason">
				<label class="res-filterline-option-toggle">
					<input type="checkbox">
					<span>Show filter-reason</span>
				</label>
			</div>
			<div class="res-filterline-hide-filtered">
				<label class="res-filterline-option-toggle">
					<input type="checkbox">
					<span>Hide currently filtered</span>
				</label>
			</div>
		</div>
	</div>
</div>
