<div id="goModePanel" class="RESDialogSmall">
	<h3>Press a key to go:</h3>
	<div class="RESCloseButton">&times;</div>
	<div class="RESDialogContents">
		<table>
			{{#goModes}}
			<tr>
				<td>{{niceKeyCode}}</td>
				<td class="arrow">&rarr;</td>
				<td>{{key}}</td>
			</tr>
			{{/goModes}}
		</table>
	</div>
</div>
