<div class="RESHover RESHoverInfoCard RESDialogSmall">
    <h3 class="RESHoverTitle" data-hover-element="0"></h3>
    <div class="RESCloseButton">x</div>
    <div class="RESHoverBody RESDialogContents" data-hover-element="1"></div>
</div>
