<div class="res-iframe-expando" style="position:relative;">
	<iframe src="{{{url}}}" style="width: {{{width}}}; height: {{{height}}}" allowFullscreen="true"></iframe>
	<div class="res-iframe-expando-helper"></div>
	<div class="res-icon drag-handle handle" style="width: {{{width}}};"></div>
</div>
