<div class="res-iframe-expando">
	<iframe src="{{url}}" style="width: {{width}}; height: {{height}}" allowFullscreen="true"></iframe>
	<div class="res-iframe-expando-helper"></div>
	<div class="res-icon res-iframe-expando-drag-handle" style="width: {{width}};"></div>
</div>
