<div class="res-iframe-expando">
	<div  style="width: {{width}};">
		<iframe src="{{url}}" style="height: {{height}}" allowFullscreen="true"></iframe>
		<div class="res-icon res-iframe-expando-drag-handle"></div>
	</div>
</div>