<div id="keyHelp">
	<table>
		<thead>
			<tr><th>Key</th><th>Function</th></tr>
		</thead>
		<tbody>
			{{#keys}}
			<tr><td>{{keyCode}}</td><td>{{description}}</td></tr>
			{{/keys}}
		</tbody>
	</table>
</div>
