<div class="res-media-rotatable">
	<div class="res-media-controls res-media-controls-{{x}} res-media-controls-{{y}}">
		<button class="res-icon gearIcon" title="Settings" data-action="showImageSettings"></button>
		<button class="res-media-controls-rotate res-media-controls-rotate-left res-icon" title="Rotate image counter-clockwise" data-action="rotateLeft"></button>
		<button class="res-media-controls-rotate res-media-controls-rotate-right res-icon" title="Rotate image clockwise" data-action="rotateRight"></button>
		{{#downloadUrl}}
		<button class="res-media-controls-download res-icon title="Download image" data-action="download"></button>
		{{/downloadUrl}}
		{{#lookupUrl}}
		<button class="res-media-controls-lookup res-icon" title="Reverse image search" data-action="imageLookup"></button>
		{{/lookupUrl}}
		{{#clippy}}
		<button class="res-media-controls-clippy" title="Show educational info" data-action="clippy"></button>
		{{/clippy}}
	</div>
</div>
