<span class="res-icon gearIcon" title="Settings" data-action="showImageSettings"></span>
<span class="rotateLeft res-icon" title="Rotate image counter-clockwise" data-action="rotateLeft"></span>
<span class="rotateRight res-icon" title="Rotate image clockwise" data-action="rotateRight"></span>
<span class="imageLookup res-icon" title="Reverse image seach" data-action="imageLookup"></span>
