<div class="spacer" style="display: none">
    <div class="roundfield info-notice">
        <a style="float: right;" class="gearIcon" href="{{settingsUrl}}"></a>
        <p>This link was submitted to <a class="subredditLink" href="#"></a>:<span class="time"></span><a class="seeMore" href="#" target="_blank">(see more)</a></p>
    </div>
</div>
