<div class="SearchRES-result-header">
    <span class="SearchRES-result-title">{{title}}</span>
	<span class="SearchRES-breadcrumb">RES settings console
		&gt; {{category}}
        &gt; {{moduleName}} ({{moduleID}})
		{{#optionName}} &gt; {{optionName}} ({{optionKey}}){{/optionName}}
		{{^optionName}}{{#optionKey}} &gt; {{optionKey}}{{/optionKey}}{{/optionName}}
	</span>
</div>
<div class="SearchRES-result-description">
	{{description}}
</div>
