<div class="SearchRES-result-header">
    <span class="SearchRES-result-title">{{title}}</span>
	<span class="SearchRES-breadcrumb">RES settings console
		→ {{category}}
        → {{moduleName}} ({{moduleID}})
		{{#optionName}} → {{optionName}} ({{optionKey}}){{/optionName}}
		{{^optionName}}{{#optionKey}} → {{optionKey}}{{/optionKey}}{{/optionName}}
	</span>
</div>
<div class="SearchRES-result-description">
	{{{description}}}
</div>
