<p>Search for settings within RES.</p>
<div id="SearchRES-results-container">
    <div id="SearchRES-count"></div>
    <ul id="SearchRES-results"></ul>
    <p id="SearchRES-results-hidden">Some results have been hidden because advanced options are currently hidden. <a href="#">Show advanced options.</a></p>
</div>
<div id="SearchRES-boilerplate">
    <p>You can search for RES options by module name, option name, and description. For example, try searching for "daily trick" in one of the following ways:</p>
    <ul>
        <li>type <code>daily trick</code> in the search box to the left and click the magnifying glass button</li>
        <li>press <code>.</code> to open the RES console, type in <code>search <em>daily trick</em></code>, and press Enter</li>
    </ul>
</div>
