<form id="SearchRES-input-container">
    <input id="SearchRES-input" type="text" placeholder="search RES settings" />
    <button id="SearchRES-input-submit" type="submit">
        <span class="res-icon">&#xF094;</span>
    </button>
</form>
