<cite class="res-expando-siteAttribution">
	<a href="{{url}}" target="_blank">
		{{#logoUrl}}<img src="{{logoUrl}}" alt="Hosted on {{name}}" title="Hosted on {{name}}" />{{/logoUrl}}
		{{#name}}<span>hosted on {{name}}</span>{{/name}}
		<a href="{{settingsLink}}" class="gearIcon" title="Disable or change settings for {{name}}"></a>
	</a>
</cite>
