<h3>Let's talk about Reddit Enhancement Suite</h3>
<div class="RESDialogContents">
    <div id="RESSubmitOptions">
        What's on your mind?<br>

		{{#foolin}}
            <div id="RESSubmitAprilFools">
                Enjoy April Fool's. RES can't turn off any of reddit's shenanigans. However, <a href="/r/Enhancement/wiki/faq/srstyle" target="_blank" rel="noopener noreferer">you can turn off subreddit styles</a>.
            </div>
		{{/foolin}}

        <div id="RESSubmitBug" class="submittingToEnhancementButton" title="Post a problem to /r/RESissues">
            I'm having issues or found a bug
        </div><br>
        <div id="RESSubmitFeatureRequest" class="submittingToEnhancementButton" title="Post a request to /r/Enhancement">I have an idea for a feature</div><br>
        <div id="RESSubmitOther" class="submittingToEnhancementButton" title="Start a discussion on  /r/Enhancement">I'm not having any problems, but have a question</div>
    </div>
    <div id="RESBugReport">
        Do you need help with RES or want to report a bug?
        <br>
        <ol>
            <li>Try <a href="/r/RESissues/wiki/postanissue">troubleshooting it yourself</a>.</li>
            <li>Have you <a target="_blank" rel="noopener noreferer" href="/r/RESissues/search?restrict_sr=on">searched /r/RESIssues</a> to see if someone else has reported it?</li>
            <li>Check the <a target="_blank" rel="noopener noreferer" href="/r/Enhancement/wiki/faq">RES FAQ</a> </li>
            <li>
                This might already be a known issue:
                <ul id="RESKnownBugs"><li style="color: red;">Loading...</li></ul>
            </li>
        </ol>

        <span id="submittingBug" class="submittingToEnhancementButton">I've checked, double-checked, and still want to post an issue.</span>
    </div>
    <div id="RESFeatureRequest">
        So you want to request a feature. Great! Please just consider the following first:<br>
        <ol>
            <li>Have you <a target="_blank" rel="noopener noreferer" href="/r/Enhancement/search?restrict_sr=on">searched /r/Enhancement</a> to see if someone else has requested it?</li>
            <li>Would your idea appeal to many redditors? Personal or subreddit-specific requests usually aren't added to RES.</li>
            <li>See if someone else has already requested this:
                <ul id="RESKnownFeatureRequests"><li style="color: red;">Loading...</li></ul>
            </li>
        </ol>
        <span id="submittingFeature" class="submittingToEnhancementButton">I still want to submit a feature request!</span>
    </div>
</div>
