*What's the problem?*
???


*What other browser extensions are installed?*
???

*Did you read the known issues and search /r/RESissues?*
???


- Night mode: {{nightMode}}
- RES Version: {{version}}
- Browser: {{browser}}
- Browser Version: {{browserVersion}}
- Cookies Enabled: {{cookies}}
