<li class="res-tabmenu-button {{#checked}}selected{{/checked}} {{ className }}">
	<a {{#title}}title="{{ title }}"{{/title}} {{#aftercontent}}aftercontent="{{aftercontent}}"{{/aftercontent}}>{{text}}</a>
</li>
