<div class="res-text usertext-body">
	{{#title}}
	<h3 class="res-title">{{title}}</h3>
	{{/title}}
	<div class="res-text-media md">{{{src}}}</div>
	{{#credits}}
	<div class="res-credits">{{{credits}}}</div>
	{{/credits}}
</div>
