.commentarea .comment {
	padding-left: {{widthO}}em !important;
}

.commentarea .comment > .entry > .tagline > .expand:hover {
	background-color: {{hColor}};
}

.commentarea .entry > .tagline > .expand {
	width: {{widthI}}em !important;
	background-color: {{bColor}};
}

.commentarea .collapsed > .entry > .tagline > .expand {
	background-color: {{cColor}};
}
