
#siteTable ~ .commentarea .comment  {
	padding-left: {{widthO}}em!important;
}
#siteTable ~ .commentarea .comment .collapsed>.entry>.tagline>.expand{
	background-color: {{cColor}} !important;
}
#siteTable ~ .commentarea .comment >.entry>.tagline>.expand:hover {
	background-color: {{hColor}};
}
#siteTable ~ .commentarea .comment >.entry>.tagline>.expand {
	width: {{widthI}}em !important;
	background-color: {{bColor}};
}
