<div class="video-advanced">
	{{#title}}
	<h4 class="res-title">{{title}}</h4>
	{{/title}}
	{{#caption}}
	<div class="res-caption">{{{caption}}}</div>
	{{/caption}}
	{{#credits}}
	<div class="res-credits">{{{credits}}}</div>
	{{/credits}}
	<div class="video-advanced-container">
		{{^controls}}
		<a class="noKeyNav" href="{{href}}" {{#openInNewWindow}}target="_blank" rel="noopener noreferrer"{{/openInNewWindow}}>
			<video {{#muted}}muted{{/muted}} {{#loop}}loop{{/loop}} poster="{{ poster }}"></video>
		</a>
		{{/controls}}
		{{#controls}}
		<video controls {{#muted}}muted{{/muted}} {{#loop}}loop{{/loop}} poster="{{ poster }}"></video>
		{{/controls}}
		{{#advancedControls}}
		<div class="video-advanced-interface {{#controls}}video-advanced-push-below{{/controls}}">
			<div class="video-advanced-progress">
				<div class="video-advanced-position"></div>
				<div class="video-advanced-position-thumb"></div>
			</div>
			<div class="video-advanced-main">
				<div class="video-advanced-controls">
					<div title="Toggle pause" class="res-icon video-advanced-button video-advanced-toggle-pause"></div>
					{{#reversable}}
					<div title="Reverse video" class="res-icon video-advanced-button video-advanced-reverse"></div>
					{{/reversable}}
					<div class="video-advanced-controls-group video-advanced-current-time">
						<div title="Select previous frame" class="res-icon video-advanced-button video-advanced-time-decrease"></div>
						<div class="video-advanced-time">1.00s</div>
						<div title="Select next frame" class="res-icon video-advanced-button video-advanced-time-increase"></div>
					</div>
					<div class="video-advanced-controls-group video-advanced-playback-rate">
						<div title="Decrease speed by 10%" class="res-icon video-advanced-button video-advanced-speed-decrease"></div>
						<div class="video-advanced-speed">{{{formattedPlaybackRate}}}</div>
						<div title="Increase speed by 10%" class="res-icon video-advanced-button video-advanced-speed-increase"></div>
					</div>
				</div>
				<div hidden class="video-advanced-error">
					<div class="res-icon">&#xf15b</div>
				</div>
				<div class="video-advanced-info">
					{{#source}}
					<a class="video-advanced-link video-advanced-source" href="{{ source }}">source</a>
					{{/source}}
					<div class="res-expando-siteAttribution"></div>
				</div>
			</div>
		</div>
		{{/advancedControls}}
		{{^advancedControls}}
		<div hidden class="video-advanced-error">
			<div class="res-icon">&#xf15b</div>
		</div>
		{{/advancedControls}}
	</div>
</div>
