name: RES Pipeline

on:
  push:
    branches:
    - master
    tags:
      - v*.*.*
  pull_request:

jobs:
  lint_flow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: yarn install --frozen-lockfile

    - run: yarn flow check --show-all-errors
    - run: yarn eslint
    - run: yarn stylelint
    - run: yarn i18n-lint

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: yarn install --frozen-lockfile

    - run: yarn integration chrome --retries 2 && yarn integration-only firefox --retries 2
      env:
        SAUCE_USERNAME: RES-Auto
        SELENIUM_HOST: ondemand.saucelabs.com
        SELENIUM_PORT: 80
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: yarn install --frozen-lockfile

    - run: yarn test
    - run: yarn build all
